h2 , span{
    color: #ff5733;
}
.card{
    height: 580px;
    width: 420px;
    border: 0px solid black;
    border-radius: 25px;
    display: inline-block;
    margin: 10px;
    margin-left: 200px;
    box-shadow: 0px 0px 20px black;
}
img{
    height: 40%;
    width: 95%;
    border-radius: 25px;
    padding: 8px;
    transition: 0.7s ease-in-out;
}
img:hover{
    padding: 0px;
    height: 42%;
    width: 100%;
}
h3{
    padding: 8px;
    
}
p{
    padding: 8px;
}
#Adopt{
    background-color:#ff5733;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    margin-top: -30px;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 10px black;
}
#Adopt:hover{
    padding: 12px 12px;
    background-color: #e04e2a;
}
#Adopt:active{
    background-color: #8f341d;
}
